*:not(input):not(textarea):not(text):not([contenteditable="true"]):not([contenteditable="true"] *):not([contenteditable]):not([contenteditable] *):not(code):not(code *):not(codeblock_wccp):not(codeblock_wccp *),
*::after,
*::backdrop,
*::before,
*::cue,
*::marker,
*::placeholder {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

*:not(input):not(textarea):not(text):not([contenteditable="true"]):not([contenteditable="true"] *):not([contenteditable]):not([contenteditable] *):not(code):not(code *)::selection {
    background: #fff0
}

*:not(input):not(textarea):not(text):not([contenteditable="true"]):not([contenteditable="true"] *):not([contenteditable]):not([contenteditable] *):not(code):not(code *)::-moz-selection {
    background: #fff0
}

.cover-container {
    border: 1px solid #DDD;
    width: 100%;
    height: 100%;
    position: relative
}

.glass-cover {
    float: left;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #92AD40;
    padding: 5px;
    color: #FFF;
    font-weight: 700
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: default
}